{% extends 'base.html' %}
{% load dashboard_tags %}
{% block title %}
    Inventory
{% endblock %}
<!-- Split button -->
{% block navbar %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Inventory <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">Project</li>
            <li><a href="#" data-toggle="modal" data-target="#newProject">Create new project</a></li>
        </ul>
    </li>
{% endblock %}
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h1 class="panel-title">Inventory for {{ project.name }} </h1>
        </div>
        <div class="panel-body">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
            <br><br>
            {% if collection|length > 0 %}
                <table class="table">
                    <thead>
                    <th>created</th>
                    <th>alias</th>
                    <th>created by</th>
                    <th>version</th>
                    </thead>
                    <tbody>
                    {% for item in collection %}
                        <tr>
                            <td>{{ item.created }}</td>
                            <td>{{ item.alias }}</td>
                            <td>{{ item.createdby }}</td>
                            <td>{{ item.version }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            {% else %}
                <div align="center">
                    <h2> ༼ つ ಥ_ಥ ༽つ </h2>
                    <h3>brah! please add an inventory list for a project</h3>
                </div>
            {% endif %}
        </div>
        <div class="panel-footer">
            <h1 class="panel-title">Project owner {{ project.owner }} </h1>
        </div>
    </div>
    {% if request.user.is_anonymous == False %}
        {% include 'admin/components/new_project.html' %}
    {% endif %}
{% endblock %}