<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<style>
    .InputAddOn {
        display: flex;
    }

    .InputAddOn-field {
        flex: 1;
        /* field styles */
    }

    .InputAddOn-item {
        /* item styles */
    }

</style>
<body>
{% load bootstrap_themes %}
{% load dashboard_tags %}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
{% bootstrap_styles theme=request|get_user_theme type='min.css' %}
{% bootstrap_script %}

{% get_themes as themes %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'dashboard:index' %}">Cost Management Tool</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% block navbar %}
                {% endblock %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dev Links <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">In curse</li>
                        <li><a href="{% url 'dashboard:upload-file' %}">load excel</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">To verify</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_anonymous == False %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Welcome, {{ request.user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        <li class="dropdown-header">User Theme</li>
                        <li><a>{{ request|get_user_theme }}</a></li>
                         <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Themes</li>
                            {% for theme in themes %}
                                <li><a href="{% url 'dashboard:change-theme' theme.0|safe %}">{{ theme.0 }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>